<!DOCTYPE html>
<html>

<head>
  <title>Brainhack Proceedings</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/quasar@1.12.0/dist/quasar.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/@quasar/quasar-ui-qflashcard@1.0.1/dist/index.min.css" rel="stylesheet" type="text/css">

  <style>
    .my-logo-font {
      font-family: 'Roboto Condensed', sans-serif;
    }
    .my-font {
      /* font-family: 'Open Sans', sans-serif; */
      font-family: 'Roboto', sans-serif;
    }

    .box-shadow:hover {
      box-shadow: 3px 3px 3px rgba(0,0,0,0.2) !important;
    }

    .intro {
      background: url(/img/pattern1.png);
      background-size: cover;
      background-position: 50%;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }

    .custom_tab {
      width: 120px;
      min-height:50px !important;
      color: white
    }
  </style>

  <script>
  window.quasarConfig = {
    brand: {
      primary: '#f0f0f0',
      secondary: '#26A69A',
      accent: '#668fa6',

      dark: '#4b4f51',

      positive: '#21BA45',
      negative: '#C10015',
      info: '#31CCEC',
      warning: '#F2C037'
    }
  }
  </script>
</head>

<body>
    <div id="q-app">

    <q-layout view="lHh lpr lFf">

      <!-- header -->
      <q-header v-model="headerState" v-scroll="scrollFunction" class="q-py-none bg-dark" >
        <q-toolbar class="items-bottom">
          <span :style="'font-size: 31px;'" class="my-logo-font text-h6 text-white q-ml-xl text-weight-bolder">BRAINHACK</span><span :style="'font-size: 31px;'" class="my-font text-h6 q-mr-md text-weight-light">Proceedings</span>
          <q-space></q-space>
          <q-tabs no-caps q-pb-none >
            <q-tab :style="[selected_tab == 't_0' ? {backgroundColor: bg_color} : {}]"
              class="q-mr-sm q-pb-none q-my-none custom_tab" @click="scrollToElement('id_about');"
              label="About" >
            </q-tab>
            <q-tab :style="[selected_tab == 't_1' ? {backgroundColor: bg_color} : {}]"
              class="q-mr-sm q-pb-none custom_tab" @click="goTo('https://brainhack-proceedings.github.io/papers')"
              label="Papers" >
            </q-tab>
            <q-tab :style="[selected_tab == 't_2' ? {backgroundColor: bg_color} : {}]"
              class="q-mr-sm q-pb-none custom_tab" @click="goTo('https://brainhack-proceedings.github.io/blog')"
              label="Blog" >
            </q-tab>
            <q-tab :style="[selected_tab == 't_3' ? {backgroundColor: bg_color} : {}]"
              class="q-mr-sm q-pb-none custom_tab" @click="goTo('https://github.com/brainhack-proceedings/submit')"
              label="Submit" >
            </q-tab>
          </q-tabs>
        </q-toolbar>
      </q-header>

      <q-page-container>
        <q-page>

          <!-- Header landing -->
          <div class="q-px-none bg-dark" style="z-index:10px;">

            <div class="q-px-none q-pt-xl bg-dark" >

              <div class="bg-image">
                <q-img src="img/header/pattern1.svg" >
                </q-img>
              </div>
              <q-toolbar class="items-bottom">
                <span :style="'font-size: 31px;'" class="my-logo-font text-h6 text-white q-ml-xl text-weight-bolder">BRAINHACK</span><span :style="'font-size: 31px;'" class="my-font text-h6 q-mr-md text-weight-light text-white">Proceedings</span>
                <q-space></q-space>
                <q-tabs no-caps q-pb-none >
                  <q-tab :style="[selected_tab == 't_0' ? {backgroundColor: bg_color} : {}]"
                    class="q-mr-sm q-pb-none q-my-none custom_tab" @click="scrollToElement('id_about');"
                    label="About" >
                  </q-tab>
                  <q-tab :style="[selected_tab == 't_1' ? {backgroundColor: bg_color} : {}]"
                    class="q-mr-sm q-pb-none custom_tab" @click="goTo('https://brainhack-proceedings.github.io/papers')"
                    label="Papers" >
                  </q-tab>
                  <q-tab :style="[selected_tab == 't_2' ? {backgroundColor: bg_color} : {}]"
                    class="q-mr-sm q-pb-none custom_tab" @click="goTo('https://brainhack-proceedings.github.io/blog')"
                    label="Blog" >
                  </q-tab>
                  <q-tab :style="[selected_tab == 't_3' ? {backgroundColor: bg_color} : {}]"
                    class="q-mr-sm q-pb-none custom_tab" @click="goTo('https://github.com/brainhack-proceedings/submit')"
                    label="Submit" >
                  </q-tab>
                </q-tabs>
              </q-toolbar>
              </div>
            </div>

          <!-- About section -->
          <div class="q-px-md bg-primary" >

            <div class="q-px-xl q-pt-xl bg-primary" id="id_about" >

              <!-- Text part 1 -->
              <div class="row justify-left" >
                <div class="col-md-1" ></div>

                <div class="q-pt-xl col-12 col-lg-6 col-md-9" >
                  <span class="text-left text-grey-9" style="font-size: 36px;">Brainhack Proceedings is a friendly, open access journal for research projects.
                  </span>
                </div>

                <div class="col-md-2" ></div>
              </div>

              <!-- Text part 2 -->
              <div class="q-pb-md row justify-left">

                <div class="col-md-1"></div>

                <div class="q-py-sm col-12 col-lg-6 col-md-9">
                  <span class="text-center text-grey-9 text-h5 text-weight-light">Committed to publishing quality project reports with zero article processing charges or subscription fees.</span>
                </div>

                <div class="col-md-2"></div>
              </div>

              <!-- 2 buttons -->
              <div class="row justify-left">

                <div class="col-md-1"></div>

                <div class="col-12 col-lg-6 col-md-9 text-left">
                  <q-btn flat dense no-caps class="text-weight-regular q-mr-lg q-px-md q-py-none" type="a" href="https://github.com/brainhack-proceedings/submit" size="lg"
                    :style="'background:'+ theme_color +'; color: white; font-size: 21px;'" label="Submit a paper" >
                  </q-btn>
                  <q-btn flat dense no-caps class="text-weight-regular q-px-md q-py-none" type="a" href="https://github.com/brainhack-proceedings" size="lg"
                    :style="'background:'+ theme_color +'; color: white'" label="Volunteer to review" >
                  </q-btn>
                </div>

                <div class="col-12 col-md-2"></div>
              </div>

            </div>
          </div>

          <!-- Recently published papers -->
          <div class="q-px-md bg-primary" >
            <div class="q-px-xl q-pt-sm bg-primary" id="id_recentpapers" >

              <!-- Headline section -->
              <div class="row justify-left" >
                <div class="col-md-1" ></div>

                <div class="q-pt-xl col-12 col-lg-6 col-md-9" >
                  <h5 class="text-left text-grey-9 text-weight-bold" style="font-size: 21px !important;">Recently published Papers
                  </h5>
                </div>

                <div class="col-md-1" ></div>

              </div>

              <!-- Recent papers -->
              <div v-for="paper in papers">

                <div class="row justify-center">
  
                  <div class="q-py-sm col-12 col-lg-10 col-md-10">
                    <q-card inline style="border: none;"
                      class="text-left box-shadow" flat bordered>
  
                      <q-card-section class="text-left">
                        <div class="row">
                        <div class="col-8 q-pl-md q-pr-lg">
                          <div class="row">
                              <q-chip square size="sm">
                              {{paper.publishStatus}}
                              </q-chip>
                          </div>
                          <div class="row">
                            <div :class="paper_heading_1" :style="'color: ' + paper_heading_color_1"
                              class="paper_heading_1 text-h6 q-mt-sm q-mb-xs">{{paper.title}}
                            </div>
                          </div>
                          <div class="row">
                            <div class="text-caption text-grey-9 q-mt-sm">
                              {{paper.authors}}
                            </div>
                          </div>
                          </div>
                          <div class="col-3 q-py-md q-pl-lg q-pr-md">
                            <div class="row q-pb-xs">
                              <q-img style="height: 50px;width:50px;" :src="paper.githubAvatar" >
                              </q-img>
                            </div>
                            <div class="row q-py-xs">
                              <a :href="'https:doi.org/' + paper.doi" target="_blank" style="color: #4b4f51; text-decoration: none;">doi: {{paper.doi}}</a>
                            </div>
                          </div>
                        </div>
  
                      </q-card-section>
  
                    </q-card>
                  </div>

                </div>
              </div>

              <div class="q-py-xl row text-center justify-center text-h5 text-weight-light" style="text-decoration: none; ">
                <span style="text-decoration: none;"><a style="text-decoration: none; color: #4b4f51; font-size: 21px;" href="https://brainhack-proceedings.github.io/papers" >View all papers...</a></span>
              </div>

            </div>
          </div>

          <!-- footer -->
          <q-toolbar class="flex flex-center text-white text-center bg-dark q-py-xl" 
            :style="'border-top: 5px solid ' + bg_color">
            <div class="q-pa-sm q-gutter-sm">
              <q-btn round type="a" href="https://twitter.com/brainhackorg"
                :style="'background:'+ theme_color +'; color: white !important;'" icon="fab fa-twitter" >
              </q-btn>
              <q-btn round type="a" href="https://github.com/brainhack-proceedings"
                :style="'background:'+ theme_color +'; color: white !important;'" icon="fab fa-github" >
              </q-btn>
              <q-btn round type="a" href="mailto:brainhack@gmail.com"
                :style="'background:'+ theme_color +'; color: white !important;'" icon="email" >
              </q-btn>
              Made with &nbsp; ❤ &nbsp; Brainhack Proceedings CC BY 4.0 <br/>
            </div>
          </q-toolbar>

        </q-page>
      </q-page-container>
    </q-layout>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@1.12.0/dist/quasar.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@quasar/quasar-ui-qflashcard@1.0.1/dist/index.umd.min.js"></script>

  <script>
    const { getScrollTarget, setScrollPosition } = Quasar.scroll

    app = new Vue({
      el: "#q-app",
      data() {
        return {
          selected_tab: 't_0',
          bg_color: '#4b4f51',
          hover: false,
          active: false,
          theme_color: '#668fa6',
          background_style: '#668fa6',
          paper_heading_1: [],
          paper_heading_color_1: '#4b4f51',
          headerState: false,
          papers: [
            {
              publishStatus: "Published",
              title: "My wonderful awesome paper 1. Such surface, much open, very anatomy, brain all night: Wow.",
              authors: "RoboKat KR, Doge D, Shiba L & Wow H.",
              doi: "10.110001/sdfg/14",
              githubAvatar: "https://avatars3.githubusercontent.com/u/2310732?s=400&u=7e58f9894039ba1fa22e5308bc4d028b68f5d57a&v=4"
            },
            {
              publishStatus: "Published",
              title: "Awesome paper #2. Such dance, much open, very music, rock all night: Wow.",
              authors: "Gangnam S, Skeleton S & Coffin D.",
              doi: "doi: 10.0000/abc-31415",
              githubAvatar: "https://avatars1.githubusercontent.com/u/6297454?s=400&u=63caaf4ecedbdc64dc6798345aa19807a5eb35df&v=4"
            },
            {
              publishStatus: "Rejected",
              title: "My awful paper 1. Such surface, much open, very anatomy, brain all night: Wow.",
              authors: "RoboKat KR, Doge D, Shiba L & Wow H.",
              doi: "10.37694dfg.g./fg",
              githubAvatar: "https://avatars3.githubusercontent.com/u/2310732?s=400&u=7e58f9894039ba1fa22e5308bc4d028b68f5d57a&v=4"
            }
          ]
        }
      },
      methods: {
        scrollToElement(id) {
          let el = document.getElementById(id)
          const target = getScrollTarget(el)
          const offset = el.offsetTop + 3
          const duration = 900
          setScrollPosition(target, offset, duration)
        },
        goTo(url){
          window.location.href = url;
        },
        unhideHeader() {
          let scrollPos=0;
          // scrollPos = getScrollPosition('#id_about');
          if(Quasar.scroll) {
            scrollPos+=1;
            console.log(scrollPos);
            // headerState=true;
          }
        },
        scrollFunction (pos) {
          this.headerState = (pos>300);
        }
      }
    });
  </script>

</body>

</html>